<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<header th:replace="index::header"></header>

<body style="background:#eee">
    <div class="container" style="width:60%;background:white">
        <div style="margin:20px">
            <span class="glyphicon glyphicon-play"></span>
            <span style="font-size:18px">网站UV</span>
        </div>

        <div style="margin-left:20px">
            <form class="form-inline" method="get" th:action="@{/data/uv}">
                起始时间：<input type="date" class="form-control" required name="start"
                            th:value="${#dates.format(uvStart,'yyyy-MM-dd')}" placeholder="年/月/日">
                结束时间：<input type="date" class="form-control" required name="end"
                            th:value="${#dates.format(uvEnd,'yyyy-MM-dd')}" placeholder="年/月/日">
                <button type="submit" class="btn btn-primary ml-3">开始统计</button>
            </form>
            <div style="margin-top:20px;margin-bottom:20px">
                <b style="font-size:15px">统计结果：</b>
                <span style="font-size:15px;color:red" th:text="${uvNum}">0</span>
            </div>
        </div>

    </div>

    <div class="container" style="width:60%;background:white;margin-top:20px">
        <div style="margin:20px">
            <span class="glyphicon glyphicon-play"></span>
            <span style="font-size:18px">网站活跃用户</span>
        </div>

        <div style="margin-left:20px">
            <form class="form-inline" method="get" th:action="@{/data/dau}">
                起始时间：<input type="date" class="form-control"
                            name="start" th:value="${#dates.format(dauStart,'yyyy-MM-dd')}" required placeholder="年/月/日">
                结束时间：<input type="date" class="form-control"
                            name="end" th:value="${#dates.format(dauEnd,'yyyy-MM-dd')}" placeholder="年/月/日">
                <button type="submit" class="btn btn-primary ml-3">开始统计</button>
            </form>
            <div style="margin-top:20px;margin-bottom:20px">
                <b style="font-size:15px">统计结果：</b>
                <span style="font-size:15px;color:red" th:text="${dauNum}">0</span>
            </div>
        </div>

    </div>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
</body>
</html>